.contacts-card {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: @light;
}

.contacts-card__heading {
  margin: 0;
  color: #303030;
  font-size: 24px;
}

.contacts-card__list {
  .list-reset();
  margin-top: 25px;
}

.contacts-card__item:not(:first-child) {
  margin-top: 15px;
}

.contacts-card__link {
  display: flex;
  align-items: center;
  color: @accent;
  font-size: 18px;

  &::before {
    content: "";
    width: 20px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--phone::before {
    height: 14px;
    background-image: url("../img/icon-phone-black.svg");
  }

  &--email::before {
    height: 20px;
    background-image: url("../img/icon-email-black.svg");
  }
}

.contacts-card__address {
  margin: 25px 0 0;
  color: #030303;
  font-size: 18px;
  font-weight: normal;
}

.contacts-card__text {
  margin: 10px 0 0;
  font-size: 16px;
  line-height: 140%;
  font-weight: bold;
}

@media (min-width: @phone-width) {
  .contacts-card__heading {
    font-size: 30px;
  }

  .contacts-card__list {
    margin-top: 30px;
  }

  .contacts-card__item:not(:first-child) {
    margin-top: 17px;
  }

  .contacts-card__link {
    font-size: 20px;
  }

  .contacts-card__address {
    margin: 28px 0 0;
  }

  .contacts-card__text {
    font-size: 18px;
  }
}

@media (min-width: @tablet-width) {
  .contacts-card {
    position: relative;
    z-index: 1;
    padding: 40px;
    width: 412px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }

  .contacts-card__link {
    font-size: 25px;
  }
}
