.slider {
  position: relative;
}

.slider__list {
  .list-reset();
}

.slide__container-switches {
  display: flex;
  justify-content: center;
}

.slider__switches {
  .list-reset();
  position: absolute;
  bottom: 42px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80px;
  font-size: 0;
}

@media (min-width: @desktop-width-sm) {
  .slider__switches {
    bottom: 68px;
  }
}
