.slide {
  padding: 70px 0 100px;
  background-image:
    linear-gradient(75deg, #121212 3%, rgba(0, 0, 0, 0.65) 36%, transparent 84%),
    url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
}

.slide__important-text {
  display: block;
  -webkit-text-fill-color: #ffffff;
  color: #ffffff;
  font-size: 30px;
  line-height: 140%;
  text-transform: uppercase;
}

.slide__list {
  list-style-type: none;
  margin: 12px 0 0;
  padding: 15px 10px 20px 5px;
  background-color: rgba(170, 111, 23, 0.2);
}

.slide__list-item {
  position: relative;
  padding-left: 20px;
  color: #f3f3f3;
  font-size: 16px;
  line-height: 21px;

  &:not(:first-child) {
    margin-top: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #9b6718;
  }
}

.slide__button {
  margin-top: 30px;
  padding: 20px;
  width: 100%;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  color: #121212;
  font-size: 18px;
  font-weight: bold;

  &:hover,
  &:focus {
    background-color: @accent;
    color: @light;
  }

  &:hover .button__important-text,
  &:focus .button__important-text {
    color: @main;
  }
}

.button__important-text {
  color: @accent;
  transition: all 0.3s;
}

@media (min-width: @phone-width) {
  .slide__list {
    padding: 20px 50px 30px 5px;
    width: 420px;
  }

  .slide__important-text {
    font-size: 44px;
    line-height: 130%;
  }

  .slide__button {
    margin-top: 40px;
  }
}

@media (min-width: @tablet-width) {
  .slide__important-text {
    font-size: 48px;
    line-height: 140%;
  }

  .slide__button {
    padding: 20px 50px;
    width: auto;
  }
}

@media (min-width: @desktop-width-sm) {
  .slide {
    padding: 116px 0 148px;
    background-position-y: bottom;
  }

  .slide__list {
    padding: 20px 50px 30px 5px;
  }

  .slide__list-item {
    font-size: 18px;
  }

  .slide__important-text {
    font-size: 60px;
  }

  .slide__button {
    margin-top: 60px;
    padding: 20px;
    width: 540px;
    font-size: 20px;
  }
}
